<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="SilverStripe">
    <description>CodeSniffer ruleset for SilverStripe coding conventions.</description>

    <!-- base rules are PSR-12 -->
    <rule ref="PSR12" >
        <exclude name="PSR1.Methods.CamelCapsMethodName.NotCamelCaps" />
        <!-- tests/Behat/Context/LoginContext returns if the parent class does not exist early, which triggers a warning -->
		<exclude name="PSR1.Files.SideEffects.FoundWithSymbols" />
		<exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace" />
    </rule>
</ruleset>
