.account-reset-action {
  align-items: center;
  display: flex;
  height: 3em;
}

.account-reset-action__icon {
  .account-reset-action--sending &,
  .account-reset-action--success & {
    color: var(--color-blue);
  }

  .account-reset-action--failure & {
    color: var(--color-grey);
  }
}

.account-reset-action__message {
  margin-left: $icon-spacing;
}
