.mfa-register-backup-codes {
  &__code-grid {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 375px;

    border: 1px dashed $gray-300;
    font-weight: bold;

    > div {
      margin: 10px;
    }
  }

  &__helper-links {
    margin-left: -10px;
  }

  &__container > div {
    margin-bottom: 10px;
  }
}

// Tablet only
@media (max-width: $viewport-medium) {
  .mfa-verify-backup-codes__image {
    display: none;
  }
}
