.mfa-verify-backup-codes {
  &__container {
    display: grid;
    grid-template-columns: 50% 50%;

    // Tablet only
    @media (max-width: $viewport-medium) {
      // Don't show the second column (containing an image)
      grid-template-columns: 100%;
    }
  }

  &__content {
    padding: $header-spacing 0;
    grid-column: 1;
    grid-row: 1;
  }

  &__input-container {
    margin-top: $header-spacing;
  }

  &__input {
    display: block;
  }

  &__image-holder {
    grid-column: 2;
    grid-row: 1;
  }

  &__image {
    height: $method-image-dimensions;
    width: $method-image-dimensions;
    float: right;
  }
}

.mfa-action-list--backup-codes {
  grid-row: 2;
}
