// Core variables
@import "variables";

@import '../styles/mfa-variables';

@import '../containers/Login';

// Legacy styles
@import '../legacy/SiteConfig';

@import '../styles/mfa-variables';

// Component styles
@import '../components/FormField/RegisteredMFAMethodListField/AccountResetUI';
@import '../components/FormField/RegisteredMFAMethodListField/RegisteredMFAMethodListField';
@import '../components/LoadingIndicator';
@import '../components/Register';
