$feature-list-action-list-spacing: 45px;
$feature-list-content-margin-bottom: 20px;
$feature-list-content-margin-top: 45px;
$feature-list-content-line-height: 20px;
$feature-list-icon-size: 50px;
$feature-list-title-font-size: (16 / $font-size-core) + rem;
$feature-list-title-font-weight: bold;

.mfa-feature-list-title {
  color: $color-grey-text;
  font-size: $feature-list-title-font-size;
  font-weight: $feature-list-title-font-weight;
  margin-bottom: $feature-list-content-margin-bottom;
  margin-top: $feature-list-content-margin-top;
}

.mfa-feature-list {
  list-style: none;
  margin: 0 0 $feature-list-action-list-spacing;
  padding: 0;
}

.mfa-feature-list-item {
  color: $color-dark-grey-text;
  display: flex;

  &__icon {
    height: $feature-list-icon-size;
    margin-right: $feature-list-content-margin-bottom;
    width: $feature-list-icon-size;
  }

  &__title {
    color: $color-dark-grey-text;
    line-height: $feature-list-content-line-height;
    margin: 0;
  }

  &__description {
    line-height: $feature-list-content-line-height;
  }
}
